/* confirm */
.c_greybox {
  padding: 40px 16px;
  background: #f6f6f6;
}

.c_brandbox_lower {
  border-top: 1px solid #dfdfdf;
  padding-top: 24px;
}

.c_title {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
}

.c_title_center {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.4;
  text-align: center;
}

.c_title_small {
  font-size: 18px;
  font-weight: bold;
  line-height: 1.4;
}

.c_title_16 {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.c_text {
  font-size: 14px;
  line-height: 1.4;
}

.c_textlink {
  font-size: 14px;
  color: #0d958e;
  text-decoration: underline;
  transition: opacity 0.4s;
}

.c_text_grey {
  font-size: 14px;
  line-height: 1.4;
  color: #5a5a5a;
}

.c_text_grey12 {
  font-size: 12px;
  line-height: 1.4;
  color: #5a5a5a;
}

.c_underlogo_text {
  font-size: 14px;
  font-weight: bold;
  margin-top: 8px;
}

.c_img_logo {
  width: 200px;
}

.c_sec_grey {
  width: 100vw;
  transform: translateX(-16px);
  background: #f6f6f6;
  padding: 40px 16px;
}

.c_flex_wrap_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.c_flexForm_area {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-wrap: wrap;
}

.c_flexForm_area.flexstart {
  justify-content: flex-start;
}

.c_normalForm_area {
  width: 100%;
}

.c_input_wrap {
  flex: 1;
  height: 46px;
  font-size: 1.4rem;
  color: #333;
  border: none;
  border-radius: 0;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
}

.c_input_wrap_grey {
  position: relative;
  height: 40px;
  font-size: 1.4rem;
  color: #333;
  border: none;
  border-radius: 4px;
}

.c_input_text {
  display: inline-block;
  width: 100%;
  height: 46px;
  font-size: 14px;
  color: #333;
  padding-left: 20px;
  border: none;
  border-radius: 0;
}

.c_input_text_grey {
  display: inline-block;
  width: 100%;
  height: 40px;
  font-size: 14px;
  color: #333;
  padding-left: 20px;
  background: #f6f6f6;
  border: 1px solid #eaeaea;
  border-radius: 4px;
}

.c_submit_wrap {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 46px;
  background: url(/images/ico_mail.svg) no-repeat;
  background-size: 17px 14px;
  background-position: 50%;
  background-color: #0d958e;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
  transition: .4s;
  vertical-align: top;
  margin-left: 5px;
}

.c_submit_btn {
  display: inline-block;
  position: relative;
  width: 46px;
  height: 46px;
  border: none;
  text-align: center;
  opacity: 0;
}

.c_submit_btn_hidden {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.c_roundBtn {
  width: fit-content;
  height: 44px;
  position: relative;
  border-radius: 22px;
  text-align: center;
  letter-spacing: 1px;
  background: #0d958e;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
  margin: 0 auto;
  transition: .4s;
  padding: 0 40px;
}

.c_roundBtn a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
}

.c_roundBtn a .ico_right {
  width: 30px;
  margin-left: 6px;
}

.c_roundBtn_white {
  width: fit-content;
  height: 44px;
  border-radius: 28px;
  text-align: center;
  letter-spacing: 1px;
  background: #fff;
  border: 1px solid #0d958e;
  box-shadow: 0 2px 6px 0 rgb(0 0 0 / 30%);
  margin: 0 auto;
  transition: .4s;
  padding: 0 40px;
}

.c_roundBtn_white a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  margin: 0 auto;
  vertical-align: middle;
  font-size: 16px;
  font-weight: bold;
  color: #0d958e;
}

.c_roundBtn_white a .ico_right {
  margin-left: 6px;
  width: 24px;
}

.c_formSec {
  margin-bottom: 80px; 
}

.c_check_wrap {
  width: 50%;
  margin-bottom: 24px;
  padding: 2px 0;
}

.c_label_check {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.c_input_check {
  display: inline-block!important;
  appearance: none;
  position: relative;
  right: 0;
  bottom: 2.5px;
  left: 0;
  height: 16px;
  width: 16px;
  vertical-align: -0.3rem;
  transition: all .15s ease-out 0s;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px 0 0;
  outline: none;
  background: #ffffff;
  border-radius: 2px;
  border: 1px solid #0d958e;
}

.c_input_check:checked {
  background: #0d958e;
}

.c_input_check::before,
.c_input_check::after {
  position: absolute;
  content: "";
  background: #fff;
  transition: all .2s ease-in-out;
}
.c_input_check::before {
  transform: rotate(50deg);
  transition-delay: 0.1s;
}
.c_input_check::after {
  transform: rotate(50deg);
  transition-delay: 0.1s;
}
.c_input_check:checked::after {
  right: 5px;
  bottom: 1px;
  width: 2px;
  height: 11px;
}
.c_input_check:checked::before {
  left: 1px;
  top: 8px;
  width: 5px;
  height: 2px;
}
/* form style */
.c_error_text {
  font-size: 11px;
  color: red;
  padding: 3px 0;
}

.c_form_title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
}

.c_form_title span {
  font-size: 12px;
  color: #F5401F;
}

.c_ico_eye {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 12px;
}

/* margin style */
.mb4 {
  margin-bottom: 4px;
}

.mb8 {
  margin-bottom: 10px;
}

.mb10 {
  margin-bottom: 10px;
}

.mb12 {
  margin-bottom: 12px;
}

.mb16 {
  margin-bottom: 16px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb24 {
  margin-bottom: 24px;
}

.mb30 {
  margin-bottom: 30px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb80 {
  margin-bottom: 80px;
}

.mr16 {
  margin-right: 16px;
}

.pb24 {
  padding-bottom: 24px;
}

.bborder {
  border-bottom: 1px solid #dfdfdf;
}

.align_center {
  text-align: center;
}


@media (min-width: 768px) {
  .c_greybox {
    padding: 40px 32px;
  }

  .c_brandbox_upper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .c_brandbox .c_propologo {
    margin-right: 24px;
  }
  
  .c_brandbox .c_propologo.mb24 {
    margin-bottom: 0;
  }

  .align_center_pc {
    text-align: center;
  }

  .c_check_wrap {
    width: 25%;
  }
  
}

@media (min-width: 1024px) {
  .c_textlink:hover,
  .c_roundBtn:hover,
  .c_roundBtn_white:hover {
    opacity: 0.7;
  }
}

/* listenerTopicResister */
.listener_topic_input {
  margin-bottom: 24px;
}


/* episode play section */
.episode_play_sec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.episode_play_sec .c_roundBtn {
  width: 202px;
  padding: 0 10px;
}

.episode_play_sec .c_roundBtn a {
  font-size: 15px;
}

.episode_play_sec .episode_title {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.episode_play_sec .program_title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.episode_thumbnail {
  width: 180px;
  margin-bottom: 12px;
}

.episode_thumbnail img {
  border: 1px solid #eaeaea;
}

.audio_player_wrap {
  margin-bottom: 40px;
}

.audio_player_wrap .timeber {
}

.c_question_box {
  padding: 40px 16px 32px;

}

.c_question_box .c_roundBtn {
  width: 149px;
  padding: 0 20px;
  margin: 0;
}  

.c_question_box .c_roundBtn_white {
  width: 149px;
  padding: 0 20px;
  margin: 0 13px 0 0;
}

.episode_description  {
  padding-bottom: 40px;
  border-bottom: 1px solid #dfdfdf;
}

.episode_description .description {
  line-height: 1.7;
}

.program_info_wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px 0 80px;
}

.program_info_wrap .program_thumbnail {
  width: 90px;
  border: 1px solid #eaeaea;
}

.program_info_wrap .info_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program_info_wrap .detail {
  line-height: 1.6;
}

.program_info_wrap .program_info {
  flex: 1;
}

.c_appBtn_wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0;
}

@media (min-width: 768px) {
  .episode_thumbnail {
    width: 240px;
  }

  .program_info_wrap .info_content {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .program_info_wrap .program_thumbnail {
    width: 120px;
    margin-right: 16px;
  }

  .program_info_wrap .program_info {
    justify-content: flex-start;
  }

  .program_info_wrap .program_info .c_title_center {
    text-align: left;
  }

  .c_appBtn_wrap {
    justify-content: flex-start;
  }
  
    
}