/* reset css */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  box-sizing: border-box;
  color: #0a0a0a;
}

a {
  color: inherit;
  text-decoration: none;
}

input,
button,
select,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  border: none;
  border-radius: 0;
  font: inherit;
  outline: none;
}

textarea {
  resize: vertical;
}

input[type='checkbox'],
input[type='radio'] {
  display: none;
}

input[type='submit'],
input[type='button'],
label,
button,
select {
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

img {
  width: 100%;
}

* {
  box-sizing: border-box;
}

/* common style */
.main {
  width: 100%;
  min-height: calc(100vh - 22px - 66px);
  margin: 0 auto;
  padding: 24px 16px 40px;
}

.row {
  width: 91.466%;
}

.font_en {
  font-family: "Montserrat"; }



@media (min-width: 768px) {
  .main {
    max-width: 700px;
    padding: 80px 0;
  }

  .row {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
  }
}


/* megamenu */
.menuList_categoryItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: 70px;
  outline: none;
  border-bottom: 1px solid #999999; }

.menuList_categoryItem.active {
  background: #ffffff; }

.menuList_categoryItem svg {
  display: block;
  width: 28px;
  margin: 0 auto;
  fill: #ffffff; }

.menuList_categoryItem.active svg {
  fill: #000000; }

.menuList_categoryItem p {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  line-height: 10px;
  margin-top: 3px;
  color: #fff;
  transform: scale(0.9); }

.menuList_categoryItem.active p {
  color: #000000; }

  .menuList_lv2Item {
    display: none;
    width: 100%;
    flex-wrap: wrap;
    /* position: absolute; */
    top: 0;
    left: 0;
    color: #ffffff;
    /* border-left: 1px solid #ffffff; */
    padding: 0 0 30px 15px;
    margin-bottom: 60px;
    transition: all 0.4s ease-in-out;
    opacity: 0;
    visibility: hidden; }
  
  .menuList_lv2Item.active {
    display: flex;
    opacity: 1;
    visibility: visible; }
  
  .menuList_lv2Item__title {
    width: 100%;
    margin-bottom: 30px; }
  
  .menuList_lv2Item__title .lv2ttl a {
    display: block;
    position: relative;
    font-size: 18px;
    color: #ffffff;
    line-height: 1;
    margin-bottom: 10px; }
  
  .menuList_lv2Item__title .lv2ttl a::after {
    content: '';
    position: absolute;
    right: 0;
    top: 3px;
    width: 8px;
    height: 14px;
    /* background: url(../image/ico_arrow3.svg) no-repeat; */
    background-size: 100%; }
  
  .menuList_lv2Item__title p {
    font-size: 13px;
    line-height: 1.6;
    /* margin-right: 16px; */
  }
  