.header_bgWrap {
  position: relative;
  width: 100%;
  border-top: 2px solid #0d958e;
  background-image: url(/images/dot_circle.svg), url(/images/dot_square.svg), url(/images/dot_triangle.svg);
  background-repeat: no-repeat;
  background-position: calc(50% - 186px) -55px, calc(50% - 9px) 46px, calc(50% + 170px) -59px;
  background-size: 70px 78px, 80px 80px, 80px 80px;
}

.header {
  display: flex;
  justify-content: space-between;
  position: relative;
  width: calc(100% - 32px);
  height: 64px;
  margin: 0 auto;
  z-index: 2;
}

.header__brand {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.header__brand img {
  width: 157px;
}

.header__nav {
  display: none;
}

@media (min-width: 861px) {
  .header_bgWrap {
    background-position: calc(50% - 606px) -80px, calc(50% - 270px) 40px, calc(50% + 610px) -80px;
  }

  .header {
    width: 100%;
    max-width: 1024px;

  }
}
